@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* The main scrollbar */
::-webkit-scrollbar {
    width: 3px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(3,7,18); /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 65); /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Set the border radius of the thumb */
}


.page{
    height: 100vh;
    display: flex;
}

.scroll{
    position: fixed;
    z-index: 10;
    width: 300px;
    height: 300px;
    background-color: #202052;
    border-radius: 100%;
    top: 10%;
    left: calc(40% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Transparent_Ring{
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

#Opaque_Ring{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.section1{
    width: 40%;
}

.section2{
    width: 60%;
    position: relative;
}

.section1.page1{
    background-color: #202052;
}
.section2.page1{
    background-color: #0b0b1f;
}

.page img{
    position: absolute;
}

.imagePage1-lowerLeft{
    width: 200px;
    bottom: 0;
    left: 10%;
}
.imagePage1-upperLeft{
    top: -10%;
}

.imagePage1-lowerRight{
    bottom: -10%;
    right: -5%;
}

.imagePage1-upperRight{
    top: -20%;
    right: 10%;
}

.imagePage1-middle{
    top: 18%;
    right: 22%;
    height: 400px;
}


.section1.page2{
    background-color: #0f0f25;
}

.section2.page2{
    background-color: #202052;
    overflow: hidden;
}

.imagePage2-middle{
    height: 400px;
    top: 20%;
    left: 10%;
}

.imagePage2-upperRight{
    height: 400px;
    right: 10%;
    top: -10%;
}

.section1.page3{
    background-color: #3434f8;
}

.section2.page3{
    background-color: #202052;
}

.container{
    display: none;
}

.glider-slide img{
    position: absolute;
}


.mobile-section1{
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
}


.mobile-section2{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    margin: 0;
    color: white;
    height: 50vh;
}

.text-container{
    width:100%;
    margin-top: 60px;
    margin-left: 20px;
}

.text-container h2{
    font-weight: 300;
}
.text-container p{
    font-weight: 100;
}

.text-container div{
    display: flex;
    align-items: center;
    gap: 4px;
}

.text-container button{
    border: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}

.mobile-page3-lowerLeft{
    width: 200px;
    bottom: 30%;
}

.mobile-page3-upperRight{
    width: 150px;
    right: 5%;
    top: -10%;
}

.mobile-section1.page3{
    background-color: #202052;
}
.mobile-section2.page3{
    background-color: #131334;
}


.glider-contain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.glider{
    width: 100%;
    height: 100vh;
}

.glider-slide {
    width: 100%;
    height: 100%;
}

.glider-prev,
.glider-next {
    display: none; /* Hide the default arrows */
}


.glider-dots{
    position: absolute;
    bottom: 8px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}


.glider-dots li {
    width: 20px; !important;
    height: 20px; !important;
    margin: 0 5px; !important;
    background-color: #ffffff; /* Set the background color */
    border-radius: 50%;
    cursor: pointer;
}


.mobile-section1.page4{
    background-color: #0b0b1f;
}
.mobile-section2.page4{
    background-color: #202052;
}

.mobile-page4-lowerLeft{
    top: 30%;
    width: 150px;
    position: absolute;
}
.mobile-page4-upperRight{
    width: 150px;
    position: absolute;
    right: -10%;
    top: -25%;
}
.mobile-page4-lowerRight{
    width: 150px;
    position: absolute;
    bottom: 40%;
    right: -10%;
}
.mobile-page4-upperLeft{
    width: 150px;
    position: absolute;
}
.mobile-page4-middle{
    width: 150px;
    position: absolute;
    right: 15%;
    top: 5%;
}

.mobile-section1.page5{
    background-color: cornflowerblue;
}
.mobile-section2.page5{
    background-color: #2a7bad;
}


.mobile-page5-upperLeft{
    width: 150px;
    top: -10%;
}
.mobile-page5-middleBottom{
    width: 150px;
    left: 50%;
    transform: translateX(-30%);
    bottom: 25%;
}
.mobile-page5-lowerLeft{
    width: 150px;
    bottom: 30%;

}
.mobile-page5-upperMiddle{
    width: 150px;
    left: 50%;
    transform: translateX(-30%);
    top: 0%;
}

.mobile-page5-lowerRight{
    width: 150px;
    right: -20%;
    top: 10%;
}