body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* The main scrollbar */
::-webkit-scrollbar {
    width: 3px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(3,7,18); /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 65); /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Set the border radius of the thumb */
}


.page{
    height: 100vh;
    display: flex;
}

.scroll{
    position: fixed;
    z-index: 10;
    width: 300px;
    height: 300px;
    background-color: #202052;
    border-radius: 100%;
    top: 10%;
    left: calc(40% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Transparent_Ring{
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

#Opaque_Ring{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.section1{
    width: 40%;
}

.section2{
    width: 60%;
    position: relative;
}

.section1.page1{
    background-color: #202052;
}
.section2.page1{
    background-color: #0b0b1f;
}

.page img{
    position: absolute;
}

.imagePage1-lowerLeft{
    width: 200px;
    bottom: 0;
    left: 10%;
}
.imagePage1-upperLeft{
    top: -10%;
}

.imagePage1-lowerRight{
    bottom: -10%;
    right: -5%;
}

.imagePage1-upperRight{
    top: -20%;
    right: 10%;
}

.imagePage1-middle{
    top: 18%;
    right: 22%;
    height: 400px;
}


.section1.page2{
    background-color: #0f0f25;
}

.section2.page2{
    background-color: #202052;
    overflow: hidden;
}

.imagePage2-middle{
    height: 400px;
    top: 20%;
    left: 10%;
}

.imagePage2-upperRight{
    height: 400px;
    right: 10%;
    top: -10%;
}

.section1.page3{
    background-color: #3434f8;
}

.section2.page3{
    background-color: #202052;
}

.container-2{
     display: block;
}

.container{
    display: none;
}

@media (min-width: 750px) {
    .container{
        display: block;
    }
    .container-2{
        display: none;
    }
}

.slider{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: yellow;
}


.slide{
    position: absolute;
    width: 100%;
    z-index: 1;
    clip-path: circle(0% at 0 50%);
}

.slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.btn{
    background-color: rgba(255,255,255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.btn.active{
    background-color: white;
}

